// Mixins Here

.custom-button(@bkgd-color, @color, @text-align) {
    text-align: @text-align;
    background-color: @bkgd-color;
    color: @color;
    width: 30%;
    padding: 8px 0;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.custom-hover {
    background-color: @shuttle-gray;
    color: white;
  }
